

h1 {
    background-color: burlywood;
    text-align: center;
}

.align-center {
    text-align: center
}

.align-left {
    text-align: left;
}

.strike {
    text-decoration: line-through;
}

.pad {
    margin-left: 20px;
}